name: Release GIMP Appimage
concurrency:
  group: build-${{ github.ref }}
  cancel-in-progress: true

on:
  schedule:
    - cron: "0 14 * * 0"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - name: build
      if: always()
      run: |
        sudo apt update && sudo apt install libfuse2
        wget https://raw.githubusercontent.com/ivan-hc/GIMP-appimage/main/gimp-junest.sh
        wget https://raw.githubusercontent.com/ivan-hc/GIMP-appimage/main/ppa/gimp-dev
        chmod a+x ./gimp-junest.sh ./gimp-dev
        ./gimp-junest.sh
        ./gimp-dev
        mkdir dist
        mv *AppImage dist/

    - name: Upload artifact
      uses: actions/upload-artifact@v1.0.0
      with:
        name: GNU_Image_Manipulation_Program-x86_64.AppImage
        path: 'dist'

  release:
      needs: [build]
      permissions: write-all
      runs-on: ubuntu-latest

      steps:
        - uses: actions/download-artifact@v1
          with:
            name: GNU_Image_Manipulation_Program-x86_64.AppImage

        - name: release
          uses: marvinpinto/action-automatic-releases@latest
          with:
            title: Continuous build
            automatic_release_tag: continuous
            prerelease: false
            draft: false
            files: |
              GNU_Image_Manipulation_Program-x86_64.AppImage
              GNU_Image_Manipulation_Program-DEV-x86_64.AppImage
            repo_token: ${{ secrets.GITHUB_TOKEN }}
